.body {
    background-color: #fafbf8;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    
    height: 100%;
    margin: 0;
    border: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
  flex: 1;
}


.container{
    display: flex;
    background-color: #fafbf8;
    flex-direction: column;
    margin: 20px 5px 10px 5px;
}

.header {
    display: flex;
    justify-content: space-between;  /* coloca logo à esquerda, menu à direita */
    align-items: center;             /* alinha verticalmente */
    padding: 5px 10px 5px 20px;  /*COLOQUEI ESTE PADDING PARA O LOGO FICAR MAIS PARA A ESQUERDA E O MENU UM POUCO PARA A DIREITA DA MARGEM */
    
}

.header-nav{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo{
     flex-direction: column;
    align-items: flex-start;
}

.logo img {

    max-width: 220px;  
    height: auto;
    display: block;
    width: auto;
}
.ulNav {
    margin: 0px;         
    list-style: none;
    display: flex; 
    justify-content: center;
}

.liNav {
    display:flex;
    border-radius: 50px;
    width: 120px;
    padding: 20px;
    margin: 5px;
    justify-content: center; 
    align-items: center;
}

.liNav a {
    color: black;       /* cor normal */
    text-decoration: none; /* remove o sublinhado */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    
}

.liNav a.active {
    
    font-weight: bold;

}
.liNav a:hover{
    text-decoration: underline;
}

.tituloh2 {

    font-family: "Montserrat", sans-serif;
    font-weight: 400;

}
.tituloh3 {

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
.tituloh4 {

    font-family: "Montserrat", sans-serif;
    font-weight: 400;

}

.frasebaixoslide{
    text-align: center;

}
.citacoes-section {
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
}
.citacoes-section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
  color:#333;
}

/* Grid de cards */
.citacoes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.citacao {
  background: #fff;
  padding: 25px 20px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(16,20,25,0.08);
  flex: 1 1 300px; /* responsivo: cresce e encolhe, largura mínima 300px */
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.citacao p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 15px;
}

.citacao span {
  font-weight: bold;
  color: #555;
  font-size: 0.9rem;
  text-align: right;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    gap: 15px; 
    padding:10px;
}

.tituloProjetos{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.centerProject{
    padding: 0;
    justify-content: center;
    display: flex;
    width: auto;
}

.artigoBox {
    
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
    margin: 0 ;
}

.textoProject{

    text-align: left;

}
.textoProject a{

    color: black;       /* cor normal */
    text-decoration: none; /* remove o sublinhado */
} 

.textoProject a:hover{
    text-decoration: underline;
    font-weight: 400;
}
    
.imgProject {
    width: 100%;
    
    aspect-ratio: 1/1; /* TORNA O RETANGULO EM QUADRADO */
    object-fit: cover; /* NÃO DEIXA IMAGEM ENCOLHER */
    opacity: 1.0;
    transition: .5s ease;
    flex-direction: column;
    display: flex;
    justify-items: center;

}

.imgProject:hover{
    opacity: 0.2;
}

.projetosingle {
    display: flex;
    padding: 0px 250px;
    flex-direction: column;
}

.tituloprojeto {
    
    text-align: left;
}
.contentprojeto {

    display: flex;
    text-align: justify;
}
.contentprojeto p {
    margin: 0;
}
.contentprojeto img {
    width: 550px;
    padding-left: 40px; 
}

.galeriaprojeto{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.galeriaprojeto img {
    display: flex;
    width: 45%;
    margin: 5px;
}

.fototitle {
    text-align: center;
}

.services {
    display: flex;
    text-align: left;
    padding: 0px 250px;
    flex-direction: column;
}

.servicelist {
    margin-bottom: 20px;
}

.servicecontent {

    display: flex;
    text-align: justify;
    align-items: stretch;
}
.servicecontent p {
    margin: 0;
}
.servicecontent img {
    width: 450px;
    height:200px;
    padding-left: 140px; 
    object-fit: cover;
    margin-bottom: 50px;
    
}

.btn-minimal{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 16px;
    border: 1px solid #000;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    transition: .2s;
  }

 .btn-minimal:hover{
     background: #000;
    color: #fff;
  }

.formulario {
    padding: 15px;
    margin: 0px 50px 50px 50px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
}

.formulario form {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 0 5px 0px;
    width: 100%;
    max-width: 525px;
     min-width: 280px;
    margin: 20px ; 
    align-items: center;
    
    box-sizing: border-box;
    

}
.formulario textarea {
    resize: none;
    background: transparent;
    width: 450px;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    
    border: none;
    border-bottom: 1px solid black;
    outline: none;
     box-sizing: border-box;
}

.formulario input{
    background:transparent;
    width: 450px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid black;
    outline: none; 
    box-sizing: border-box;
    
}


.formulario form input[type="submit"] {
    background: #4C544A;
    color: white;
    width: 225px;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    display: flex;
    border-radius: 2px;
}
.formulario form input[type="submit"]:hover {
    background: black;
}

.formulario img {
    width: 40%;
    height: auto;
    object-fit: cover;
    padding: 20px;
    
}


/* FOOTER */
.footer {
    background-color: #4C544A;
    padding: 50px 50px 5px 50px ;
    /* margin-top: 150px; */
    flex-direction: column;
    align-items: flex-end;

}
.conteudoFooter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    gap: 30px;
}

.colunaFooter {
    padding: 0px 50px;
}
.colunaFooter h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.colunaFooter p {
    margin: 6px 0;
}

.colunaFooter p a {
    color: black;
    text-decoration: none;
}

.colunaFooter p a:hover {
    color: white;
    text-decoration: underline;
}


.colunaFooter ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.colunaFooter ul li {
     margin: 6px 0;
}

.colunaFooter ul li a {
    color: black;
    text-decoration: none;
}
.colunaFooter ul li a:hover {
    color: white;
    text-decoration: underline;
}

.imgBox {
    width: 15%;
    display: flex;
    align-items: center;
}
.imgFooter {
    width: 100%; 
  height: auto;
  display: block;
}

.fimFooter {
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    opacity: 0.7;
}

.fimFooter h5 {

    font-family: "Montserrat", sans-serif;
    font-weight: 400;

}


/* SLIDE */

.slider {
    width: auto;        /* muda para o tamanho que quiseres */
    height: auto;
    overflow: hidden;
    position: relative;
    padding-bottom: 30px;
}

.slides {
    width: 300%;          /* 3 imagens → 300% */
    height: 100%;
    display: flex;
    animation: slide 6s infinite;
    
}

.slide {
    width: 33.333333%;           /* 2 imagens → 50% cada uma */
    height: 70vh;
    object-fit: cover;
  flex-shrink: 0;
}

@keyframes slide {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }    /* segura o 1º slide */
    
    33% { transform: translateX(-33.3333%); } /* 2º slide */
    53% { transform: translateX(-33.3333%); }
    
    66% { transform: translateX(-66.6666%); } /* 3º slide */
    86% { transform: translateX(-66.6666%); }
    
    100% { transform: translateX(0); }   /* volta ao 1º slide */
}



/* FIM SLIDE */