.body {
    background-color: #fafbf8;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0;
    border: 0;
}



.container{
    display: flex;
    background-color: #fafbf8;
    flex-direction: column;
    margin: 20px 5px 20px 5px;
}

.header {
    display: flex;
    justify-content: space-between;  /* coloca logo à esquerda, menu à direita */
    align-items: center;             /* alinha verticalmente */
    padding: 5px 10px 5px 20px;  /*COLOQUEI ESTE PADDING PARA O LOGO FICAR MAIS PARA A ESQUERDA E O MENU UM POUCO PARA A DIREITA DA MARGEM */
    
}

.header-nav{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo{
     flex-direction: column;
    align-items: flex-start;
}

.logo img {

    max-width: 220px;  
    height: auto;
    display: block;
    width: auto;
}
.ulNav {
    margin: 0px;         
    list-style: none;
    display: flex; 
    justify-content: center;
}

.liNav {
    display:flex;
    border-radius: 50px;
    width: 120px;
    padding: 20px;
    margin: 5px;
    justify-content: center; 
    align-items: center;   
}

.liNav a {
    color: black;       /* cor normal */
    text-decoration: none; /* remove o sublinhado */
}

.liNav a:hover{
    text-decoration: underline;
}

.tituloh2 {

    font-family: "Montserrat", sans-serif;
    font-weight: 400;

}
.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    gap: 15px; 
    padding:10px;
}

.tituloProject{
    padding: 0px 0px 30px 0px;
    display: flex;
    justify-content: center;
}

.centerProject{
    padding: 0;
    justify-content: center;
    display: flex;
    width: auto;
}

.artigoBox {
    
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
    margin: 0 ;
}

.textoProject{

    text-align: left;

}
.textoProject a{

    color: black;       /* cor normal */
    text-decoration: none; /* remove o sublinhado */
} 

.textoProject a:hover{
    text-decoration: underline;
}


    
.imgProject {
    width: 100%;
    
    aspect-ratio: 1/1; /* TORNA O RETANGULO EM QUADRADO */
    object-fit: cover; /* NÃO DEIXA IMAGEM ENCOLHER */
    opacity: 1.0;
    transition: .5s ease;
    flex-direction: column;
    display: flex;
    justify-items: center;

}

.imgProject:hover{
    opacity: 0.2;
}



.footer {
    background-color:#4c544a;
    padding: 50px;
    margin-top: 30px;
}

.conteudoFooter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    gap: 30px;
}

.colunaFooter {
    padding: 0px 50px;
}
.colunaFooter h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.colunaFooter p {
    margin: 6px 0;
}

.colunaFooter p a {
    color: black;
    text-decoration: none;
}

.colunaFooter p a:hover {
    color: white;
    text-decoration: underline;
}


.colunaFooter ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.colunaFooter ul li {
     margin: 6px 0;
}

.colunaFooter ul li a {
    color: black;
    text-decoration: none;
}
.colunaFooter ul li a:hover {
    color: white;
    text-decoration: underline;
}

.imgBox {
    width: 15%;
}
.imgFooter {
    width: 100%; 
  height: auto;
  display: block;
}

.fimFooter {
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    opacity: 0.7;
}

.fimFooter h5 {

    font-family: "Montserrat", sans-serif;
    font-weight: 400;

}


/* SLIDE */
.slider {
    width: auto;        /* muda para o tamanho que quiseres */
    height: auto;
    overflow: hidden;
    position: relative;
    padding:  0 0 0 ;
}

.slides {
    width: 200%;          /* 2 imagens → 200% */
    height: 100%;
    display: flex;
    animation: slide 6s infinite;
    
}

.slide {
    width: 50%;           /* 2 imagens → 50% cada uma */
    height: 100%;
    object-fit: cover;
  flex-shrink: 0;
}

@keyframes slide {
    0% { transform: translateX(0); }
    45% { transform: translateX(0); }

    55% { transform: translateX(-50%); }
    90% { transform: translateX(-50%); }
    100% { transform: translateX(0); } /* volta a 1ª com deslize */
}


/* FIM SLIDE */