.body {
    background-color: #FFE5D1;
    font-family: Corbel, Arial, Verdana;
}

.container{
    display: flex;
    background-color: aqua;
    height: 100vh;
    justify-content: space-between;
    gap: 100px;

}

.ladoesq {
    width: 50vw;
}



.header {
    border: 2px solid black;
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.header-home{
    display: flex;

}

.header-nav{
    
    border: 2px solid black; 
    display: flex;
    background-color: aquamarine;
    
    justify-content: space-between;
    
    

}
.ulNav {
    margin: 0;         /* remove espaço padrão */
    padding: 0;
    background-color: beige;
    list-style: none;
    display: flex; 
    justify-content: center;
    gap: 20px;
    
}

.liNav {
    background-color: #FFE5D1;
    display:flex;
    border: 5px solid #f8d1b3;
    border-radius:  70px;
    padding: 20px;
    width: 120px;
    margin:15px;
    justify-content: center; 
    align-items: center;   
}

.liNav:hover{
    background-color: #f8d1b3;
}