.body {
    background-color: #fafbf8;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0;
    border: 0;
}



.container{
    display: flex;
    background-color: #fafbf8;
    flex-direction: column;
    margin: 20px 5px 20px 5px;
}

.header {
    display: flex;
    justify-content: space-between;  /* coloca logo à esquerda, menu à direita */
    align-items: center;             /* alinha verticalmente */
    padding: 5px 10px 5px 20px;  /*COLOQUEI ESTE PADDING PARA O LOGO FICAR MAIS PARA A ESQUERDA E O MENU UM POUCO PARA A DIREITA DA MARGEM */
    
}

.header-nav{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo{
     flex-direction: column;
    align-items: flex-start;
}

.logo img {

    max-width: 220px;  
    height: auto;
    display: block;
    width: auto;
}
.ulNav {
    margin: 0px;         
    list-style: none;
    display: flex; 
    justify-content: center;
}

.liNav {
    display:flex;
    border-radius: 50px;
    width: 120px;
    padding: 20px;
    margin: 5px;
    justify-content: center; 
    align-items: center;   
}

.liNav a {
    color: black;       /* cor normal */
    text-decoration: none; /* remove o sublinhado */
}

.liNav a:hover{
    text-decoration: underline;
}

.projects {

    display: flex;
    justify-content: flex end;
    flex-direction: column;
    align-content: center;
    padding:20px;
    text-align: justify;
}

.tituloProject{
    padding: 0px 0px 0px 0px;
}

.centerProject{
    padding: 0 200px 0 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
}

.artigo {
    flex-direction: column;
    align-content: center;
    padding:20px;
    text-align: justify;
}


.imgProject {
    float: right;
    width: 30%;
    padding: 15px;

}
/* SLIDE */
.slider {
    width: auto;        /* muda para o tamanho que quiseres */
    height: auto;
    overflow: hidden;
    position: relative;
    padding:  0 0 0 ;
}

.slides {
    width: 200%;          /* 2 imagens → 200% */
    height: 100%;
    display: flex;
    animation: slide 6s infinite;
    
}

.slide {
    width: 50%;           /* 2 imagens → 50% cada uma */
    height: 100%;
    object-fit: cover;
  flex-shrink: 0;
}

@keyframes slide {
    0% { transform: translateX(0); }
    45% { transform: translateX(0); }

    55% { transform: translateX(-50%); }
    90% { transform: translateX(-50%); }
    100% { transform: translateX(0); } /* volta a 1ª com deslize */
}


/* FIM SLIDE */