.body {
    background-color: #FFE5D1;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}



.container{
    display: flex;
    background-color: #0f9c3e;
    flex-direction: column;
}


.logo{
     flex-direction: column;
    align-items: flex-start;
    padding: px;
}

.logo img {

    max-width: 220px;  
    height: auto;
    display: block;
    width: auto;
}

.header {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;  /* coloca logo à esquerda, menu à direita */
    align-items: center;             /* alinha verticalmente */
    padding: 5px 10px 5px 20px;
    
}

.header-nav{
    
    border: 2px solid black; 
    display: flex;
    background-color: aquamarine;
     flex-direction: column;
    align-items: center;
}

.ulNav {
    margin: 0px;         
    padding: 0px;
    background-color: beige;
    list-style: none;
    display: flex; 
    justify-content: center;
}

.liNav {
    background-color: #FFE5D1;
    display:flex;
    border: 5px solid #f8d1b3;
    border-radius:  70px;
    padding: 20px;
    width: 120px;
    margin:15px;
    justify-content: center; 
    align-items: center;   
}

.liNav:hover{
    background-color: #f8d1b3;
}